In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('heart.csv', )
pd.concat([data.head(), data.tail()])

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [8]:
from sklearn.preprocessing import OneHotEncoder

def blow_df(df, cat_cols):
    ohe = OneHotEncoder(sparse_output=False)
    print(cat_cols, df)
    encoded_data = ohe.fit_transform(df)
    encoded_df = pd.DataFrame(encoded_data, columns=ohe.get_feature_names_out())
    encoded_df = pd.concat([df.drop(columns=cat_cols), encoded_df], axis=1)
    return encoded_df

In [9]:
# for x in cat_data.columns:
#     print(x, cat_data[x].value_counts())
#     print()

NameError: name 'cat_data' is not defined

In [69]:
cat_cols = list(data.select_dtypes(include=['object']).columns)
num_data = data.select_dtypes(exclude=['object'])
cat_data = data[cat_cols]

# xz = data.iloc[0:1, :]
# display(xz)

def validate_batch(df, batch):
    if (df.nunique().index == batch.nunique().index).mean() < 1:
        return (False, F"column names not equal {df.nunique().index} {batch.nunique().index}")
    if (df.nunique().values == batch.nunique().values).mean() < 1:
        return (False, F"counts not equal {df.nunique().values} {batch.nunique().values}")
    return (True, "ok")

# validate_batch(cat_data, cat_data.iloc[0:200, :])

# blow_df(cat_data, cat_cols)

ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_data = ohe.fit_transform(cat_data.iloc[0:1, :])
encoded_df = pd.DataFrame(encoded_data, columns=ohe.get_feature_names_out())

# cat_data['fk_col'] = np.random.randint(0, 100, cat_data.shape[0])

lol_datas = ohe.transform(cat_data)
lol_cols = ohe.get_feature_names_out()
xx = pd.DataFrame(lol_datas, columns=lol_cols)

xx.apply(lambda x: x.value_counts())

# cat_data

,Sex_M,ChestPainType_ATA,RestingECG_Normal,ExerciseAngina_N,ST_Slope_Up
0.0,193,745,366,371,523
1.0,725,173,552,547,395